{{define "HEAD"}}
{{css "/css/user/schedules.css"}}
{{end}}

{{define "Header"}}
{{end}}

{{define "Content"}}
    <p class="info-text"> Welcome to elos. </p>
    <div id="buttons">
    {{with $routes := .Routes}}
        <a class="button" href="{{$routes.UserCalendar}}"> Calendar </a>
        <a class="button" href="{{$routes.UserInteractive}}"> Interactive </a>
    {{end}}
    </div>
{{end}}

{{define "Footer"}} {{end}}
