{{define "HEAD"}}
    <title> User Calendar </title>
    {{css "/css/calendar.css"}}
    {{css "/css/user/schedules/layout.css"}}
{{end}}

{{define "Header"}} {{end}}

{{define "Content"}}
<table border="0">
    <thead>
        <tr>
            {{range .Data.Days}}
                <th> {{.Header}} </th>
            {{end}}
        </tr>
    </thead>
    <tbody>
        <tr>
        {{with $context := .}}
            {{range .Data.Days}}
                <td>
                    {{template "Schedule" dict "Data" . "Routes" $context.Routes}}
                </td>
            {{end}}
        {{end}}
        </tr>
    </tbody>
</table>
{{end}}

{{define "Footer"}} {{end}}
