{{define "HEAD"}}
    {{css "/css/user/interactive.css"}}
    {{js "/js/interactive.js"}}
    <title> User Interactive </title>
{{end}}

{{define "Header"}} {{end}}

{{define "Content"}} {{end}}

{{define "Footer"}}
<input id="prompt" type="text" name="command" value="" placeholder="Type a command">
{{end}}
