{{define "HEAD"}}
    <link rel="stylesheet" type="text/css" href="/css/user/schedules.css">
    <title> User Schedules </title>
{{end}}

{{define "Header"}} {{end}}

{{define "Content"}}
    <p class="info-text"> Welcome to user schedules. </p>
    <div id="buttons">
    {{with $routes := .Routes}}
        <form action="{{$routes.UserSchedulesBase}}">
            <input type="submit" value="Base">
        </form>
        <form action="{{$routes.UserSchedulesWeekly}}">
            <input type="submit" value="Weekly" class="middle-button">
        </form>
        <form action="{{$routes.UserSchedulesYearly}}">
            <input type="submit" value="Yearly">
        </form>
    {{end}}
    </div>
{{end}}

{{define "Footer"}} {{end}}
