{{define "Style"}}
    <link rel="stylesheet" type="text/css" href="/css/user/schedules/base.css">
{{end}}

{{define "Title"}} Base Schedule {{end}}

{{define "DetailContent"}}
    {{if .Data.HasSelectedFixture }}
        {{with .Data.SelectedFixture}}
            Selected Fixture: {{ .Name }}
        {{end}}
    {{else}}
        <p class="info-text"> Your base schedule has {{len .Data.Fixtures }} fixtures. </p>
    {{end}}
{{end}}

{{define "Buttons"}}
    {{if .Data.HasSelectedFixture }}
        {{with .Data.SelectedFixture}}
            <form class="add-fixture-button" action="/user/schedules/base/edit_fixture" method="GET">
                <input type="text" name="fixture_id" value="{{.ID}}" style="display:none;">
                <input type="submit" value="Edit">
            </form>

            <form class="add-fixture-button" action="/user/schedules/base/delete_fixture" method="GET">
                <input type="text" name="fixture_id" value="{{.ID}}" style="display:none;">
                <input type="submit" value="Delete">
            </form>
        {{end}}
    {{end}}
{{end}}
