{{define "Schedule"}}
    <div class="schedule-container">
        <div class="schedule">
        {{with $context := .}}
            {{range .Data.Fixtures}}
                {{template "Fixture" dict "Fixture" . "Routes" $context.Routes}}
            {{end}}
        {{end}}
        </div>
    </div>
{{end}}

{{define "Fixture"}}
    <a class="fixture"
       style="top:{{ .Fixture.RelStart }}%; height:{{.Fixture.RelHeight}}%;">
            <div class="name"> {{.Fixture.Name}} </div>
            <div class="time"> {{.Fixture.Time}} </div>
    </a>
{{end}}
