/* global reset */
* {
    padding: 0;
    margin: 0;
}

/* ensure background, select font */
body {
    background-color: white;
    font-family: "Avenir Next Regular";
}

/* the root element, display flex
 * contains: header, content, footer */
div#root {
    width: 100vw;

    display: flex;
    flex-direction: column;
}

/* aligned top of layout */
div#header {
    min-width: 100%;
    min-height: 5vh;

    flex: 1;
    align-self: flex-start;
}

/* fills space between header & footer */
div#content {
    min-width: 100%;

    flex: 1;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/* aligned bottom of layout */
div#footer {
    min-width: 100%;

    flex: 1;
    align-self: flex-end;
}

/* both header & footer are themselves
 * flex layouts, in the horizontal manner */
div#header, div#footer {
    display: flex;
    flex-direction: row;
}

/* the iconic green */
h1.elos {
    color: #00FFA3;
    font-size: .9em;
    line-height: 5vh;
    font-family: "Avenir Next UltraLight";
}

/* the word elos centered at top */
h1.elos.layout {
    width:100vw;
    text-align: center;
}
