{{define "HEAD"}} {{css "/css/index.css"}} {{end}}

{{define "Header"}}
    <a href="{{.Routes.SessionRegister}}" class="button register">Register</a>
    <a href="{{.Routes.SessionSignIn}}" class="button green sign-in">Sign In</a>
{{end}}

{{define "Content"}}
    <h1 class="per-aspera">PER ASPERA</h1>
    <h1 class="elos index">elos</h1>
{{end}}

{{define "Footer"}}
    <h2 id="bottom-links">
        © Elos LLC, 2015  -  <a href="http://doc.elos.io"> Documentation </a>  -  <a href="https://github.com/elos/"> Development </a>
    </h2>
{{end}}
