div#content {
    min-height: 70vh;
    align-items: center;

    flex-direction: column;
}

div#buttons {
    display: flex;
    flex-direction: row;
}

input[type="submit"] {
    width: 100px;
    margin: 1em;
}
